/* Reset sederhana */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background:  #5D4037;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background: #2e472b;
  color: #fff;
  padding: 1em;
}

header h1 {
  margin-bottom: 0.5em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Konten */
main {
  padding: 2em;
}

section {
  margin-bottom: 3em;
}

/* Details */
details {
  margin-top: 1em;
  background: #f0f0f0;
  padding: 1em;
  border-radius: 6px;
}

/* Tabs */
.tabs {
  margin: 1em 0;
}

.tab-btn, .sub-btn {
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #ddd;
  transition: background 0.3s;
}

.tab-btn.active, .sub-btn.active {
  background: #2e472b;
  color: #fff;
}

.tab-btn:hover, .sub-btn:hover {
  background: #444;
  color: #fff;
}
